<!-- views/champion_guides.ejs -->
<!doctype html>
<html>
<head>
    <title>Battleright</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Battleright</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if (user == 0) { %>
          <li><a href="/login">Login</a></li>
          <li><a href="/signup">Sign Up</a></li>
        <% } else {%>
          <li><a href="/profile/guides">My Guides</a></li>
          <li><a href="/create">New Guide</a></li>
          <li><a href="/profile">Profile</a></li>
          <li><a href="/logout">Log Out</a></li>
        <% } %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container">

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6 col-sm-offset-3">
            <div class="well">
                <h3><%= champion %> Guides</h3>
                <hr>
                <span style="color:white">Sort by: </span><select name="sortby" id="sortby">
                  <option value="rating">Rating</option>
                  <option value="date">Latest</option>
                </select>
                <br><br>
                <% for (var i = 0; i < guides.length; i++) { %>
                    <p><a href="/guides/<%= guides[i].champion %>/<%= guides[i]._id %>"><%= guides[i].title %></a> (<%=(guides[i].rating * 100).toFixed(0)%>%, <%=guides[i].upvotes + guides[i].downvotes%> votes) by <%= guides[i].author %></p>
                <% } %>
            </div>
        </div>

    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
  var sortby = "<%=req.query.sortby%>";
  console.log(sortby);
  $('select option:contains("'+sortby+'")').prop('selected', true);
  $('#sortby').on('change', function(e) {
    var selected = $('select option:selected').text();
    var loc = window.location.href;
    var i = loc.indexOf('?');
    if (i == -1) {
      window.location.href = loc + '?sortby=' + selected;
    } else {
      window.location.href = loc.substr(0,i) + '?sortby=' + selected;
    }
  })
</script>
</body>
</html>