<!-- views/edit.ejs -->
<!doctype html>
<html>
<head>
    <title>Battleright</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/edit.css">
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1>Edit Guide</h1>
        <a href="/profile" class="btn btn-default btn-sm">Profile</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-8 col-sm-offset-2">
                
            <button type="submit" form="guide" class="btn btn-primary btn-lg">Update</button>

            <hr>
            <div id="chapters">
                <form action="/guides/<%=guide._id%>/edit" method="post" id="guide">
                    Guide Title: <input type="text" name="title" value="<%= guide.title %>"><hr>
                    Champion: <%= guide.champion %>
                    <% for (var i = 0; i < guide.chapters.length; i++) { %>
                    <div id="ch<%=i%>">
                        <hr>
                        Chapter Title: <input type="text" name="ch_title" value="<%= guide.chapters[i].title %>">
                        <br><br>
                        <textarea rows="10" cols="50" name="ch_body" style="width: 100%;"><%= guide.chapters[i].body %></textarea>
                    </div>
                    <script>var i = <%=guide.chapters.length-1%>;</script>
                    <% } %>
                </form>
            </div>
            <hr>
            <button class="btn btn-primary btn-lg add-more" style="float:right">Add Chapter</button>

        </div>

    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="/scripts/edit.js"></script>
</body>
</html>