<!-- views/view_guide.ejs -->
<!doctype html>
<html>
<head>
    <title>Battleright</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/xbbcode.css">
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1>View Guide</h1>
        <% if (user != 0) { %>
        <a href="/profile" class="btn btn-default btn-sm">Profile</a>
        <% } else { %>
        <a href="/login" class="btn btn-default btn-sm">Login</a>
        <% } %>
        <a href="/guides" class="btn btn-default btn-sm">All Guides</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6 col-sm-offset-3">
            <% if (guide.user == user) { %>
            <a href="/guides/<%= guide._id %>/edit" class="btn btn-primary">Edit</a>
            <hr>
            <% } %>
            <div class="well" style="background:#FFF">
                <h2><%= guide.title %></h2>
                <h3><%= guide.champion %></h3>
                <% for (var i = 0; i < guide.chapters.length; i++) {%>
                    <hr>
                    <h3><%= guide.chapters[i].title %></h3>
                    <p><%- XBBCODE.process({
                        text: guide.chapters[i].body,
                        removeMisalignedTags: false,
                        addInLineBreaks: false
                    }).html%></p>
                <% } %>
            </div>
        </div>

    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</body>
</html>